@model WebCampeonato.Models.Jogador

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gols)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gols)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTimeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTimeNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
