@model WebCampeonato.Models.Arbitro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Arbitro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fifa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fifa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Federacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Federacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
