@model IEnumerable<WebCampeonato.Models.Time>

@{
    ViewData["Title"] = "Index";
}

<h2>Times</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vitorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Derrotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derrotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
