@model WebCampeonato.Models.Resultado

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vitorias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vitorias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.empates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.empates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.derrotas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.derrotas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.golsPro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.golsPro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.golsContra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.golsContra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.saldodeGol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.saldodeGol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qtdjogos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qtdjogos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PontosGanhos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PontosGanhos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdJogoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJogoNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTimeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTimeNavigation.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
